.container
    .row
        .col-md-3
            .footer__support.d-flex.flex-column.justify-content-md-center.align-items-center.align-items-md-start.mb-4.mb-md-0
                span Служба поддержки
                | !{' '}
                a(href="mailto:info@lumos22.com") info@....com

        .col-md-5
            .footer__requisites.d-flex.flex-column.justify-content-end.pb-4.pb-md-0
                p
                    | ООО "ЛЮМОС 22"
                    br
                    | Генеральный Директор: Хохлов Олег Геннадиевич
                    br
                    | ОГРН 1207300003844 / ИНН 7325169355 / КПП: 732501001
                a(href="/") Политика конфиденциальности

        .col-md-4
            .footer__contacts.d-flex.flex-column.justify-content-end.align-items-end
                img.footer__logo(src="/img/logo.svg" alt="")
                p Телефон: 8 (800) 350-03-08
                p Почта: support@lumos22.com
                p
                    | Адрес: 432002, Ульяновская обл., г. Ульяновск,
                    br
                    | ул. Верхнеполевая, д. 1/16, офис 68