section.section.author
    img.steps__figure.d-none.d-xl-block(src="/img/steps-figure.svg" alt="")
    .container
        .row
            .col
                h2.section__title Автор марафона
                .section__subtitle Мара Боронина
    .container
        .row
            .col
                .author__desc Эксперт в области трансперсональной психологии, известный нумеролог в России и СНГ. Уже 17 лет Мара помогает людям раскрывать свои возможности, выходить из самых сложных жизненных ситуаций и воплощать мечты в жизнь

    .container
        .row
            .col-lg-6.col-xl-5.mb-4.mb-lg-0
                .author__pic(style="background-image: url(/img/course-author.jpg)")
            .col-lg-6.col-xl-7
                 ul.author__skills.d-flex.flex-column.justify-content-center
                    li Опыт консультирования: более 17 лет
                    li Владеет 7-ю традициями Нумерологии
                    li Эксперт в области трансперсональной психологии и НЛП-практик
                    li Разработала 33 обучающих курса
                    li В её Школе прямо сейчас обучаются 4500+ человек
                    li Вебинары ежегодно собирают 60000+ человек
                    li Очередь на личный приём расписана на 3 месяца
                    li Доходы 3 года подряд увеличиваются в 2 раза
