//- Include used template for this page
extends ../../templates/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Lumos22 test work'
    - let description = 'Write description for the page here'
    - let keywords    = 'Write keywords for the page here'
    - let pageClass   = 'page-index'

block content
    include banner/banner
    include program/program
    include participate/participate
    include steps/steps
    include changes/changes
    include author/author
    include cta/cta