section.section.participate
    .container
        .row
            .col
                h2.section__title.program__title.title.font_accent Вам обязательно нужно участвовать в марафоне, если:

    .container.participate__list
        .row.justify-content-center
            .col-md-6.col-lg-5.col-xl-4.mb-3.mb-xl-0.order-1
                .participate__card
                    .participate__promo
                        .participate__pic(style="background-image: url(/img/participate-pic-1.jpg)")
                        .participate__caption Вам хотелось бы обладать сверхвозможностями: "чувствовать" людей вокруг, убирать боль руками, притягивать удачные обстоятельства
                        .participate__desc но вы считаете, что таким потенциалом обладают только избранные и это возможно только в фантастических фильмах
            .col-md-6.col-lg-5.col-xl-4.mb-3.mb-xl-0.order-4.order-md-2.order-xl-2
                .participate__card
                    .participate__promo
                        .participate__pic(style="background-image: url(/img/participate-pic-2.jpg)")
                        .participate__caption В вашем роду были целители или ясновидящие, или вы давно замечаете, что воспринимаете мир иначе:
                        .participate__desc ощущаете в себе особые способности, видите больше, чем другие, но не знаете, что с этим делать

            .col-md-6.col-lg-5.col-xl-4.mb-3.mb-xl-0.order-7.order-xl-3
                .participate__card
                    .participate__promo
                        .participate__pic(style="background-image: url(/img/participate-pic-3.jpg)")
                        .participate__caption Вы занимаетесь коучингом или консультированием в сфере психологии, нумерологии, медицины,
                        .participate__desc и хотите расширить набор практических инструментов для помощи своим клиентам

            .col-md-6.col-lg-5.col-xl-4.mb-1.mb-xl-0.order-2.order-md-3.order-xl-4
                .participate__paragraph Уже на практикуме вы не только выявите свои скрытые способности, но и ощутите их физически:

            .col-md-6.col-lg-5.col-xl-4.mb-1.mb-xl-0.order-5.order-md-4.order-xl-5
                .participate__paragraph Вы определите свои врождённые способности, и научитесь экологично ими управлять:

            .col-md-12.col-xl-4.mb-1.mb-xl-0.order-8.order-xl-6
                .participate__paragraph
                    | Вы получите соврменные авторские
                    br
                    | методики и техники, которые:

            .col-md-6.col-lg-5.col-xl-4.mb-5.mb-xl-0.order-3.order-md-5.order-xl-7
                ul.list__check
                    li узнаете, какая энергия на ощупь
                    li освоите навык мгновенного восстановления энергии при упадке сил
                    li научитесь формировать желания так, чтобы они осуществлялись со 100% вероятностью

            .col-md-6.col-lg-5.col-xl-4.mb-5.mb-xl-0.order-6.order-xl-8
                ul.list__check
                    li овладеете 3-мя системами восприятия: визуальной, аудиальной и кинестетической
                    li научитесь считывать информацию о прошлом, настоящем и будущем
                    li освоите работату с чакровой системой
                    li узнаете, как применять свои сверхспособности для помощи себе и своим близким в 4-х важнейших сферах жизни: здоровье, отношениях, работе, финансах

            .col-md-6.col-lg-5.col-xl-4.mb-5.mb-xl-0.order-9
                ul.list__check
                    li откроют новые возможности для работы с клиентами
                    li усилят ваши личные способности
                    li помогут вам восстанавливаться после сложных сессий в разы быстрее
