//- Animation functions
$func-primary                 : cubic-bezier(0.075, 0.82, 0.165, 1);
$func-animation               : all .4s cubic-bezier(0.075, 0.82, 0.165, 1);

// Colors
$font-color: #000;
$font-lite: #fff;
$font-accent: #fce558;
$font-dark: #42196d;
$accent-lite: #fad264;
$dark-background: #320b61;

.font_accent {
    color: $font-accent !important;
}

// Media quires
$xsm: 375px;
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;