section.banner
    .container
        .row
            .col
                img.banner__fig-left.d-none.d-md-block(src="/img/banner-figure-left.svg" alt="")
                img.banner__fig-right.d-none.d-xl-block(src="/img/banner-figure-right.svg" alt="")

                .banner__caption.d-flex.flex-column.align-items-center.flex-xl-row.justify-content-xl-center.align-items-xl-center
                    img.banner__caption__pic(src="/img/logo.svg" alt="")
                    p.banner__caption__txt Практический марафон, основанный на синтезе нумерологии, практической психологии и работы с бессознательным от эксперта в области трансперсональной психологии и известного нумеролога —  Мары Борониной

                h1.banner__title.d-flex.flex-column.align-items-center.flex-xl-row.justify-content-xl-center
                    span Пробудите свои
                    span.font_accent сверхспособности

                .banner__subtitle
                    | Как
                    | !{' '}
                    span всего за 3 вечера
                    | !{' '}
                    | выявить и раскрыть свой
                    | !{' '}
                    span врождённый потенциал,
                    | !{' '}
                    | чтобы:

                ul.banner__cards.d-flex.flex-column.align-items-center.flex-md-row.flex-md-wrap.justify-content-md-center.align-items-md-start
                    li.d-flex.align-items-center научиться считывать информацию о прошлом, настоящем и будущем
                    li.d-flex.align-items-center уметь мгновенно повышать уровень энергии  и самостоятельно восстанавливать здоровье
                    li.d-flex.align-items-center начать притягивать в свою жизнь нужные события, людей деньги

                .banner__date.d-flex.justify-content-center.align-items-center
                    img.banner__date__pic(src="/img/icon-calender.svg" alt="")

                    p.banner__date__txt.d-flex.flex-column.flex-md-row
                        span.font_accent 21-23 сентября в 15:00 МСК
                        span Формат: онлайн по всему миру

                form.banner__form.d-flex.flex-column.align-items-center(action="/" method="GET")
                    .d-flex.flex-column.align-items-center.flex-md-row.align-items-md-start
                        label.banner__form__label
                            input.input(type="text" placeholder="Введите ваш e-mail")

                        input.input.input_button(type="submit" value="Участвовать бесплатно!")

                    span.banner__form__privacy Согласен получать письма от "Люмос 22"

                    .banner__form__msg.d-flex.justify-content-center.align-items-center
                        img.pic(src="/img/icon-check-list.svg" alt="")
                        p.txt Сразу после подписки вы получите тест-диагностику на определение ваших сверхспособностей!

    .banner__scroll.d-none.d-xl-block